################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.gitignore
/.gitignore
/.gitignore
/src/Invx.SharedKernel/Invx.SharedKernel.Application/obj/Debug/net9.0
